<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
<script src="http://localhost:3033/socket.io/socket.io.js"></script>
<body>
    <div id="log">
        <span>아이디 : <input type="text" id="userid"></span>
        <span>방이름 : <input type="text" id="roomname"></span>
        <span><input type="button" id="enter" value="입장"></span>
    </div>
    <div id="chat" style="display:none;">
        <div style="width: 300px; height: 300px; border: solid 1px;" id="txtarea">
            <div id ="txtappend"></div>
        </div>
    </div>
    <input type="text" style="width:255px" id="txt"> <input type="button" value="Enter" id="btn">
<script>
    var userid = "";
    var roomname  = "";
    var msgdata = {};
    $(document).ready(function(){
       var socket = io.connect('http://localhost:3033');

        $("#enter").click(function(){
            userid = $('#userid').val();
            roomname  = $('#roomname').val();
            console.log('user ' + userid);
            socket.emit('join',{
                'userid':userid
                ,'roomname':roomname
            });
            /*document.getElementById('log').style.display = 'none';
            document.getElementById('chat').style.display = 'block';*/
            $('#log').css('display','none');
            $('#chat').css('display','block');
        });
        socket.on('join',function(data){
            console.log('data : ' + data);
            $('#txtappend').append('<div style="margin:0px">'+data.userid+'님이 들어왔습니다.</div>');
        });
        $('#btn').click(function(){
            var message = $('#txt').val();
            msgdata.message = message;
            msgdata.userid = userid;
            msgdata.roomname = roomname;
            socket.emit('message',msgdata);
            //서버의 message 이벤트에 전송
        });
        socket.on('message',function(data){
            //서버 message 이벤트로 emit 한데이터를 수신
            console.log('message event1');
            //$('#txtappend').append('<div style="margin:0px">'+data.roomname+' room ' +data.userid+" : " +data.message+'</div>');
            $('#txtappend').append(data.roomname+' room ' +data.userid+" : " +data.message);
            $('#txt').val('');
        })
    });


</script>
</body>
</html>